<h1>Menu</h1>


{% for menu_item in menu_items %}
    <div class="menu-item">
        <p>{{ menu_item.image }}</p>
        <h3>{{ menu_item.name }} -- N{{ menu_item.price }}</h3>
        <p>{{ menu_item.description }}</p>
        <a href="">Order</a>

        {% comment %} <form method="POST" action="">
            {% csrf_token %}
            <input type="hidden" name="menu_item_id" value="{{ menu_item.id }}">
            <input type="hidden" name="menu_item_price" value="{{ menu_item.price }}">
            <button type="submit">Add to Order</button>
        </form> {% endcomment %}



        <a href="{% url 'orders' %}">View orders</a>
    </div>
{% endfor %}

